html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body{
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 26px;
    color: $text;
}

ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
    color: $text;
}

// start прижать footer к низу страницы
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
// end прижать footer к низу страницы

.container{
    max-width: 1230px;
    padding: 0px 15px;
    margin: 0 auto;
}

.title{
    font-size: 42px;
    line-height: 46px;
    font-weight: 600;
    margin-bottom: 30px;
}

.btn{
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;

    border-radius: 2px;
    background-color: $red;
    border: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #fff;
    padding: 17px 45px;
    font-family: 'Raleway', sans-serif;
}

.breadcrumbs{
    &__inner{
        padding: 40px 0px 10px;
    }
    &__list{
        li{
            display: inline-block;
            position: relative;
            a{
                color: $red;
                font-size: 14px;
                line-height: 20px;
            }
            &:first-child{
                padding-left: 20px;
                &::before{
                    content: "\f015";
                    font-family: 'icomoon' !important;
                    color: $red;
                    font-size: 18px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
            &:last-child{
                a{
                    color: $text;
                }
            }
            & + li{
                padding-left: 33px;
                &::before{
                    content: "\f105";
                    font-family: 'icomoon' !important;
                    position: absolute;
                    left: 13px;
                    color: #b8b8b8;
                }
            }
        }
    }
}

.product{
  width: 280px;
  padding: 23px;
  background-color: #fff;
  border: 1px solid $dark-gray;
  position: relative;

  &__img{
    display: block;
    min-height: 210px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 25px;
    position: relative;

    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      height: 1px;
      width: 65px;
      background-color: $text;
    }
  }

  &__label{
    position: absolute;
    top: 9px;
    right: 9px;
    display: flex;
    z-index: 1;

    & span{
      display: block;
      min-width: 60px;
      text-align: center;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      line-height: 26px;  

      &.hit{
        background-color: #199ed8;
        display: none;
      }

      &.stock{
        background-color: $red;
        display: none;
      }

      & + span{
        margin-left: 5px;
      }
    }
  }
  
  &__name{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  &__text{
    font-weight: 300;
    font-size: 15px;
    line-height: 1.15;

    & span{
      font-weight: 500;
    }

    & + &{
      margin-top: 5px;
    }
  }
  
  &__cost{
    margin: 15px 0 20px;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.15;
    span{
      display: none;
    }
  }

  &__btn{
    display: flex;
    justify-content: space-between;

    a{
      color: $text;
      border: 1px solid $red;
      border-radius: 2px;
      padding: 15px 20px;
      width: 162px;
      font-size: 12px;
      line-height: 1.15;
      text-align: center;
      font-weight: 700;
      letter-spacing: 1.5px;
      text-transform: uppercase;

      &.product__btn-shop{
        display: none;
        width: 48px;
        border: none;
        background-color: $red;
        position: relative;
        &::before{
          content: "\f07a";
          font-family: 'icomoon' !important;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #fff;
          font-size: 22px;  
        }
      }
    }
  }
}

.product--card{
  .product__name{
    margin-bottom: 8px;
  }
  .product__text{
    display: none;
  }
  .product__cost{
    margin-top: 8px;
    margin-bottom: 14px;
  }
  .product__btn a.product__btn-shop{
    display: inline-block;
  }
}

.product--hit{
  .product__label span.hit{
    display: inline-block;
  }
}

.product--stock{
  .product__label span.stock{
    display: inline-block;
  }

  .product__cost{
    color: $red;
    span{
      color: $text;
      font-size: 18px;
      font-weight: 400;
      display: inline-block;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        top: 50%;
        width: 100%;
        height: 2px;
        background-color: #a5a5a5;
      }
    }
  }
}



.staff-card__photo{
  margin-top: 30px;
  width: 305px;
  height: 305px;
  background-color: #f1f1f1;
  border-radius: 152.5px;
  position: relative;
  img{
    max-width: 100%;
    // width: 100%;
    border-bottom-left-radius: 152.5px;
    border-bottom-right-radius: 152.5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    // z-index: 1;
    // &::before{
    //   content: '';
    //   position: absolute;
    //   bottom: 0;
    //   width: 305px;
    //   height: 305px;
    //   background-color: #f1f1f1;
    // }
  }
}

// icons start
[class^="my-icon__"], [class*=" my-icon__"]{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;

}
.my-icon__wp{
  width: 28px;
  height: 28px;
  background-image: url(../images/icons/whatsapp.svg);
}
.my-icon__viber{
  width: 23px;
  height: 26px;
  background-image: url(../images/icons/viber.svg);
}
// icons end

// form start
.form{
  width: 420px;

  label{
    display: block;
    margin-bottom: 15px;
  }

  &-input{

    input,
    textarea{
      display: block;
      width: 100%;
      height: 55px;
      border: none;
      background-color: #efefef;
      border-radius: 2px;
      padding: 15px 10px 15px 20px;
      color: #3f3f3f;
      &:focus ~ span,
      &:valid ~ span{
        opacity: 0;
      }
    }

    textarea{
      height: 130px;
      resize: none;
    }
    
    position: relative;

    span{
      position: absolute;
      top: 20px;
      left: 20px;
      padding-left: 25px;
      font-size: 15px;
      line-height: 1.15;
      opacity: 1;
      transition: opacity .4s;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;

      &::before{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

  }

  &-name{

    span{
      &::before{
        width: 13px;
        height: 13px;
        background-image: url(../images/icons/user.svg);
      }
    }

  }

  &-phone{

    span{
      &::before{
        width: 11px;
        height: 18px;
        background-image: url(../images/icons/smartphone.svg);
      }
    }

  }

  &-question{
    
    span{
      &::before{
        top: 6px;
        width: 18px;
        height: 18px;
        background-image: url(../images/icons/conversation.svg);
      }
    }

  }

  &-btn{
    width: 100%;
    margin-bottom: 15px;
  }

  &-check{
    padding-left: 25px;
    font-size: 16px;
    line-height: 1.15;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    position: relative;
    span{
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 1px solid #3f3f3f;
      border-radius: 1px;
      position: absolute;
      left: 0;
      top: 0px;

      &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 14px;
        height: 14px;
        background-color: #3f3f3f;
        opacity: 0;
        transition: opacity .3s;
      }
    }

    input{
      display: none;
      &:checked ~ span::before{
        opacity: 1;
      }
    }
  }


}
// form end