@import "vars";
@import "global";
@import "fonts";

//// start main page
// start header
.header{
    position: relative;
    z-index: 2;
    background-color: $text;
    &__inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__box{
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1090px;
      width: 100%;
    }
    &__menu{
      &-icon {  
        & span{
          display: none;
          width: 32px;
          height: 5px;
          background-color: $gray;
          & + span{
            margin-top: 5px;
          }
        }
  
      }
  
      &-item{
        display: inline-block;
        margin-right: 30px;
  
        & a{
          color: rgba(#fff, .7);
          font-weight: 600;
          letter-spacing: 1.5px;
          font-size: 12px;
          text-transform: uppercase;
          &:hover{
            color: rgba(#fff, 1);
          }
        }
      }
    }
  
    &__contact{
      display: flex;
  
      &-phones{
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        & a{
          color: #fff;
          font-size: 12px;
          line-height: 20px;
          letter-spacing: 1.5px;
          font-weight: 700;
          &:first-child{
            margin-top: 5px;
          }
        }
      }
  
      &-btn{
        border: {
          width: 1px;
          style: solid;
          color: $red;
          radius: 2px;
        }
        padding: {
          top: 15px;
          bottom: 15px;
          left: 35px;
          right: 35px;
        }
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
      }
    }
  }

// end header

// start first-block
.first-block{
    background-color: $text;
    min-height: 670px;
    color: #fff;
  
    &__inner{
      position: relative;
    }
  
    &__box{
      max-width: 570px;
      padding-top: 115px;
      position: relative;
      z-index: 1;
    }
  
    &__title{
        margin-bottom: 30px;
        font-size: 42px;
        line-height: 46px;
        font-weight: 600;
    }
  
    &__subtitle{
      margin-bottom: 35px;
      padding-left: 15px;
      font-size: 18px;
      position: relative;
  
      & span{
            display: inline-block;
            border-bottom: 1px solid $red;
            padding-bottom: 2px;
      }

      &::before{
          content: '';
          position: absolute;
          top: 10px;
          left: 0;
          width: 6px;
          height: 6px;
          background-color: $red;
      }
    }
  
    &__search{
      margin-bottom: 25px;
      max-width: 415px;
      width: 100%;
      position: relative;

      & input{
        border: none;
        padding: 15px 45px 15px 50px;
        width: 100%;
        outline: none;
        background-color: #181818;
        color: #fff;
  
        &::placeholder{
          font-size: 15px;
          color: #fff;
          font-weight: 300;
        }
      }

      &::before{
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 20px;
          width: 16px;
          height: 16px;
          background-image: url(../images/icons/magnifying-glass.svg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
      }
    }
  
    &__btn{
      padding: 15px 35px;
    }
  
    &__offers{
        margin-top: 110px;
        padding-bottom: 50px;
        font-size: 22px;
        position: relative;

        .text{
            display: inline-block;
            padding-left: 30px;
            position: relative;   
            color: #fff;     
            &::before{
                content: '';
                position: absolute;
                top: 3px;
                left: 0;
                width: 19px;
                height: 19px;
                background-image: url(../images/icons/exclamation-point-inside-circle-outline.svg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
  
        .line{
            display: inline-block;
            position: relative;
            margin-left: 40px;
            margin-right: 40px;
            &:before{
                content: '';
                position: absolute;
                bottom: 5px;
                left: 0;
                width: 50px;
                height: 1px;
                background-color: #cbcbcb;
            }
        }
  
      &__list-items{
       display: inline-block;
      }
      &__list-item{
        display: inline-block;
        margin-left: 45px;
        & a{
          color: #cbcbcb;
          font-weight: 600;
          font-size: 14px;
          letter-spacing: 1.5px;
          text-transform: uppercase;
          &:hover{
            color: #fff;
          }
        }
      }
    }
  
    &__slider{
      position: absolute;
      top: 60px;
      right: 0;
      max-width: 750px;
      width: 100%;
      display: flex;
  
      &-items{
        width: 100%;
      }

      &-nav{
        position: relative;
        margin-left: 30px;
        width: 20px;
      }
  
      &-item{
        max-width: 698px;
        width: 100%;
        min-height: 495px;
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }  
  
      &-menu{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        padding: {
          top: 60px;
          bottom: 60px;
          right: 0;
          left: 0;
        }
      }
    }
  }
  .first-block{
    .slick-prev,
    .slick-next{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border:none;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      & svg{
        width: 15px;
        height: 15px;
        fill: rgba(#fff, 1);
      }
    }
    .slick-disabled{
      cursor: default;
      & svg{
        fill: rgba(#fff, .7);
      }
    }
    .slick-prev{
      top: 0;
      & svg{
        transform: rotate(-90deg);
      }
    }
    .slick-next{
      bottom: 0;
      & svg{
        transform: rotate(90deg);
      }
    }
    
    .slick-dots{
    
      & li{
        font-size: 0;
        border: 2px solid transparent;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background-color: transparent;
        position: relative;
        margin-bottom: 30px;
        cursor: pointer;
    
        & button{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          outline: none;
          border: none;
          font-size: 0;
          line-height: 0;
          display: block;
          background-color: transparent;

          &::before{
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 7px;
              height: 7px;
              border-radius: 50%;
              background-color: #cbcbcb;
          }
        }
    
        &.slick-active{
          border: {
            color: $red;
          }
    
          & button{
              &::before{
                background-color: transparent;
              }
          }
        }
      }
    }
  }
// end first-block

// start about
.about{
    padding-top: 80px;
    padding-bottom: 70px;
    text-align: center;
}
.about__subtitle{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 70px;
}
.about-cards{
    display: flex;
    justify-content: space-between;
}
.about-card{
    width: 250px;

    &__title{
        font-weight: 600;
        font-size: 22px;
        line-height: 24px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    &__text{
        font-size: 17px;
        line-height: 23px;
    }

    &__img{
        display: inline-block;
        text-align: center;
        height: 60px;

        &-pink,
        &-contract,
        &-star,
        &-execution{
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &-pink{
            background-image: url(../images/icons/piggy-bank.svg);
            width: 54px;
            height: 53px;
        }
        &-contract{
            background-image: url(../images/icons/contract.svg);
            width: 48px;
            height: 48px;
        }
        &-star{
            background-image: url(../images/icons/star.svg);
            width: 52px;
            height: 50px;
        }
        &-execution{
            background-image: url(../images/icons/execution.svg);
            width: 49px;
            height: 49px;
        }
    }
}
// end about

// start catalog
.catalog{
    text-align: center;
    background-color: $gray;
    color: $text;
    padding: 90px 0;

    &__subtitle{
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        margin-bottom: 50px;
    }
  
    &-cards{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: -20px;
    }

    &-card{
      margin-top: 20px;
      flex-basis: 32%;
      position: relative;
      overflow: hidden;
  
  
      &:hover .catalog-card__description{
        transform: translate(-50%, 0);
      }
      &:hover .catalog-card__description:before{
        width: 100%;
        transition: .8s;
      }
  
      & img{
        display: block;
        width: 100%;
        height: auto;
      }
  
      &__description {
        min-height: 140px;
        width: 100%;
        position: absolute;
        bottom: 0;
        transition: .5s;
        left: 50%;
        transform: translate(-50%, 70px); // hover effect
        background-color: #fff;
  
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 1px;
          width: 65px; // hover effect
          transition: .4s;
          background-color: $text;
        }
      }
  
      &__title{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 75px;
  
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;

      }
  
      &__btn{
        font-size: 12px;
        padding: 14px 40px;
      }
    }
  }
// end catalog

// start quiz
.quiz{
    padding-top: 80px;
    color: #fff;
    text-align: center;
    min-height: 520px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.quiz__title{
    margin-bottom: 20px;
}

.quiz__subtitle{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
}

.quiz-form{
    background-color: rgba(15, 15, 15, .502);
    max-width: 830px;
    padding: 50px;
    margin: 0 auto;
    position: relative;
}

.quiz-form__ask-title{
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 1.15;
    font-weight: 600;
}

.quiz-form__track{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    span{
        display: block;
        height: 6px;
        background-color: #8b8b8b;

        &.active{
            background-color: #7f1a1f;
        }

        & + span{
            margin-left: 5px;
        }
    }

}

.quiz-form__ask-input{
    margin-bottom: 40px;
    section{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.quiz-form__ask-input{

    label{
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        display: inline-block;
        margin: 0px 15px 10px;
        position: relative;
        padding-left: 33px;
        cursor: pointer;
    }

    input[type=radio],
    input[type=checkbox]{
        display: none;
        &:checked ~ span::before{
            opacity: 1;
        }
    }

    input[type=text]{
      display: block;
      width: 100%;
      height: 55px;
      border: none;
      background-color: #efefef;
      border-radius: 2px;
      padding: 15px 10px 15px 20px;
      color: #3f3f3f;
    }

    .quiz-form__ask-box{
        max-width: 420px;
        margin: 0 auto;
    }

    span{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 2px;
        &::before{
            content: '';
            position: absolute;
            left: 4px;
            top: 4px;
            width: 12px;
            height: 12px;
            background-color: $red;
            opacity: 0;
            transition: opacity .3s;
        }
        &.circle{
            border-radius: 50%;
            &::before{     
                border-radius: 50%;
            }
        }
    }
}

.quiz-form__next .btn{
    display: none;
}

.quiz-slider__number-box{
    display: flex;
    justify-content: center;
    margin: 15px 0px 5px;
}

.quiz-slider__number-content{
    //display: inline-block;
    max-width: 15px;
}

.quiz-slider__number{
}
// end quiz

// start feedback
.feedback{
    padding: 85px 0 90px;

    &__title{
        max-width: 950px;
        margin: 0 auto 45px;
        text-align: center;
    }

    &__inner{
        display: flex;
    }

    &__box{
        max-width: 615px;
        padding: 0 20px 0 5px;
    }

    &__manager{
        max-width: 585px;
        width: 100%;
        text-align: center;
    }

    &__photo{
        margin: 30px auto 20px;
    }

    &__name{
        margin-bottom: 10px;
        font-size: 22px;
        line-height: 28px;
        font-weight: 600;
    }

    &__text{
        font-size: 18px;
        line-height: 1.15;
    }

    &__header{
        font-size: 22px;
        line-height: 28px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    
    &__list{
        margin-bottom: 25px;
        li{
            padding-left: 15px;
            position: relative;

            & + li{
                margin-top: 15px;
            }

            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 6px;
                height: 6px;
                background-color: $red;
            }
        }
    }
}
// end feedback

// start offers
.offers{
    background-color: $text;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 100px;
  }
  
  .offer{
    margin: 90px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
  
    &__img{
        max-width: 515px;
        &-container{
            position: relative;
        }
        img{
            width: 100%;
            display: block;
            height: auto;
        }
        &-mini{
            display: block;
            max-width: 205px;
            width: 100%;
            min-height: 140px;
            position: absolute;
            right: 0;
            bottom: 0;
            border: 3px solid #fff;

            background-color: $text;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center bottom;
        }
    }

    &:nth-child(2n){
        flex-direction: row-reverse;
        .offer__img-mini{
            left: 0;
        }
        .offer__description{
            padding-left: 0;
            padding-right: 15px;
        }
    }
  
    &__description{
      max-width: 615px;
      padding-left: 15px;
      width: 100%;
    }
  
    &__title{
      font-size: 42px;
      line-height: 46px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    &__text{
      font-size: 18px;
      line-height: 24px;
      font-weight: 300;
  
      p{
        margin: 10px 0;
      }
  
      & ol, & ul{
        margin: 30px 0;
        padding: 0;
        line-height: 34px;
        & li{
          padding-left: 20px;
          position: relative;
          &:before{
            content: '';
            position: absolute;
            top: 14px;
            left: 0;
            width: 6px;
            height: 6px;
            background-color: $red;
          }
        }
      }
    }
  
    &__subtitle{
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      margin-top: 30px;
      margin-bottom: 20px;
    }
    &__btn{
      padding: 15px 60px;
      border-radius: 2px;
      background-color: $red;
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
    }
  }
// end offers

// start portfolio
.portfolio{
    text-align: center;
    padding-top: 85px;
    padding-bottom: 100px;
  
    &__items{
      margin: -5px;
      display: flex;

      & img{
        display: block;
        width: 100%;
        height: auto;
      }
    }
  
    &__item{
      padding: 5px;
    }
  
    &__right-block{
      display: flex;
      flex-direction: column;
      flex-basis: 49.9%;
      &__up-block{
        width: 100%;
      }
      &__down-block{
        display: flex;
        width: 100%;
        & .portfolio_old__item{
          width: 50%;
        }
      }
    }
  
    &__left-block{
      display: flex;
      flex-basis: 49.9%;
      &__left-side{
      }
      &____right-side__up{
        height: 50%;
      }
    }
  
    &-btn{
      margin-top: 6%;
      width: 100%;
    }
  }
  .portfolio__subtitle{
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 50px;
  }
  .portfolio__btn{
      display: none;
      margin: 20px 0 0;
  }
.portfolio__left-block__right-side__down .item1{
    height: 70%;
}
.portfolio__left-block__right-side__down .item2{
    height: 30%;
}
// end portfolio

// start seo
.seo{
    padding-top: 85px;
    padding-bottom: 95px;
    background-color: $gray;
    text-align: center;
  
    & .text{
      margin-bottom: 0;
      text-align: left;
      font-size: 18px;
      line-height: 26px;
    }
  }
// end seo

// start footer
.footer{
    padding: {
      top: 70px;
      bottom: 70px;
      left: 0;
      right: 0;
    };
    background-color: $text;
  
    nav{
      display: flex;
      flex-wrap: wrap;
    }
  
    &__inner{
      display: flex;
    }
  
    &__logo{
      margin-top: -5px;
      padding-right: 15px;
      max-width: 260px;
  
      &-title{
        margin-top: 30px;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 24px;
        color: rgba(#fff, .7);
        font-weight: 100;
      }
  
      &__social-icons{
        display: flex;
        justify-content: space-between;
        max-width: 150px;
        margin: 0 auto;
      }
  
      &__social-icon a::before{
        color: #fff;
        font-size: 24px;
      }
  
    }
  
    &__box{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
    }
  
    &__catalog{
      max-width: 300px;
      padding: {
        top: 0;
        bottom: 0;
        left: 15px;
        right: 15px;
      }
      &-title{
        text-transform: uppercase;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.5px;
        font-weight: 600;
        color: #fff;
  
        position: relative;
        &::before{
          display: none;
          content: "\f107";
          font-family: 'icomoon' !important;
          font-size: 16px;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
      }
      &__list-item{
        display: block;
        margin: {
          top: 15px;
          bottom: 15px;
          left: 0;
          right: 0;
        }
        & a{
          font-size: 15px;
          color: rgba(#fff, .7);
          font-weight: 300;
          transition: .3s;
          &:hover{
            color: rgba(#fff, 1);
          }
        }
      }
    }
  
    &__menu{
      max-width: 230px;
      padding: {
        top: 0;
        bottom: 0;
        left: 15px;
        right: 15px;
      }
      &__list-items{
  
      }
      &__list-item{
        margin: {
          top: 20px;
          bottom: 20px;
          left: 0;
          right: 0;
        }
        &:first-child{
          margin-top: 0;
        }
        & a{
          color: $gray;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 1.5px;
          font-weight: 700;
        }
      }
    }
  
    &__contact{
      max-width: 230px;
      height: auto;
      padding: {
        top: 0;
        bottom: 0;
        left: 15px;
        right: 15px;
      }
  
      &-btn{
        border: {
          width: 1px;
          style: solid;
          color: $red;
          radius: 2px;
        }
        padding: {
          top: 15px;
          bottom: 15px;
          left: 20px;
          right: 20px;
        }
        width: 100%;
  
        text-align: center;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
      }
  
      &__list-items{
        margin-bottom: 20px;
      }
  
      &__list-item{
        margin-bottom: 15px;
        & a{
          padding-left: 25px;
          color: #fff;
          font-size: 18px;
          line-height: 20px;
          font-weight: 400;
  
          position: relative;
          &::before{
            content: "\f095";
            font-family: 'icomoon' !important;
            font-size: 16px;
            position: absolute;
            top: 50%;
            left: 0;
            color: $red;
            transform: translateY(-50%);
          }
        }
      }
  
      position: relative;
      &__information{
        margin: {
          top: 5px;
          bottom: 5px;
        }
        width: 100%;
        position: absolute;
        bottom: 0;
  
        &-item{
          margin: {
            top: 10px;
            bottom: 10px;
            left: 0;
            right: 0;
          }
  
          & a{
            color: rgba(#fff, .7);
            font-size: 14px;
            font-weight: 300;
            transition: .3s;
  
            &:hover{
              color: rgba(#fff, 1);
            }
  
          }
  
        }
  
      }
  
    }
  
  }  
// end footer

//// end main page


// start delivery page
.delivery-page{
    padding: 0;

    &__row-title{
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__row{
        margin-bottom: 50px;
        & + &{
            padding-top: 50px;
            border-top: 1px solid $dark-gray;
        }
    }

    &__cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__card{
        min-width: 290px;
        max-width: 385px;

        & + &{
        margin-left: 20px;
        }

        & img{
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 15px;
        }

        &-title{
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        color: $text;
        margin-bottom: 10px;
        }

        &-text{
        font-size: 17px;
        line-height: 23px;
        color: $text;
        }
    }
}
.attention{
    padding: 0;
    margin-bottom: 90px;
  
    &__inner{
      padding: {
        top: 45px;
        bottom: 75px;
        left: 50px;
        right: 70px;
      }
      font-size: 18px;
    }
  
    &-title{
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 15px;
    }
  
    &__list{
  
      & li{
        padding-left: 20px;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          left: 0;
          top: 7px;
          width: 6px;
          height: 6px;
          background-color: $red;
        }
      }
  
      & li + li{
        margin-top: 20px;
      }
    }
  
    &__inner{
      border-top: 4px solid $red;
      background-color: $gray;
    }
  }
// end delivery page

// start porfolio page
.portfolio-page{
    margin-bottom: 90px;
}
.portfolio-page__btn{
    a{
        min-width: 250px;
        padding: 17px 20px;
        background-color: $gray;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 1.5px;
        & + a{
            margin-left: 15px;
        }
        &.active{
            background-color: $red;
            color: #fff;
        }
    }
}
.portfolio-page__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}
.portfolio-page__item{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: block;
    width: 31%;
    min-width: 240px;
    min-height: 290px;
    margin-bottom: 30px;
}
.pagination-page__list{
    text-align: center;
    li{
        display: inline-block;
        &+li{
            margin-left: 10px;
        }
    }
    a,
    span{
        border-radius: 2px;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $gray;
        font-size: 14px;
        letter-spacing: 1.5px;
        &.active{
            background-color: $red;
            color: #fff;
        }
        &.empty{
            background-color: transparent;
            width: 30px;
        }
    }
}
// end portfolio page

// start catalog
.catalog-page{
    margin-bottom: 95px;
    &__inner{
        display: flex;
    }
}
.catalog-page__aside{
    max-width: 280px;
    min-width: 270px;
    width: 100%;
    margin-right: 30px;
}
.aside__title{
    padding: 20px 30px 20px 60px;
    background-color: $text;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    font-weight: 600;
    position: relative;
    &::before{
        content: "\f03a";
        font-family: 'icomoon' !important;
        font-size: 20px;
        color: #fff;
        position: absolute;
        left: 15px;
    }
    &::after {
        display: none;
        content: "\f107";
        font-family: 'icomoon' !important;
        font-size: 20px;
        position: absolute;
        top: 50%;
        right: 30px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
.aside__menu{
    // border: 1px solid #e6e6e6;
    background-color: $gray;
    li{
        border: 1px solid #e6e6e6;
        a{
            padding: 16px 15px;
            font-size: 15px;
            line-height: 16px;
            font-weight: 500;
            display: flex;
            align-items: center;
            position: relative;
            &.active{
                background-color: #fff;
                color: $red;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 2px;
                    height: 100%;
                    background-color: $red;
                }
                &::after{
                    content: "\f105";
                    font-family: 'icomoon' !important;
                    color: $red;
                    font-size: 16px;
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    transform: translateY(-50%);
                }
            }
        }
        & + li{
            // border-bottom: 1px solid #e6e6e6;
        }
    }
    &-img{
        display: block;
        max-width: 38px;
        max-height: 38px;
        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }
    &-name{
        margin-left: 10px;
    }
}

.catalog-page__content-text{
    font-size: 28px;
    line-height: 1.15;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 12px;
}
.catalog-page__filter-btn{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
    button{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;

        border: none;
        // background-color: $gray;
        background-color: #eee;
        border-radius: 2px;
        padding: 0;
        width: 110px;
        height: 50px;

        background-position: center;
        background-repeat: no-repeat;
        &.active{
            background-color: $red;
        }
        & + button{
            margin-left: 10px;
        }
    }
}
.catalog-page__sort{
    border-radius: 2px;
    border: 1px solid $dark-gray;
    font-size: 15px;
    padding: 10px 15px;
    background-color: $gray;
    max-width: 280px;
    cursor: pointer;
    margin-bottom: 30px;
    position: relative;
    &::before{
        content: "\f107";
        font-family: 'icomoon' !important;
        position: absolute;
        top: 50%;
        right: 14px;
        transform: translateY(-50%);
    }
}
.catalog-page__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.catalog-page{
    .product{
        margin-bottom: 30px;
    }
}
// end catalog

// start contact page
.contact-page{

    &__inner{
      display: flex;
      justify-content: space-between;
      margin-bottom: 70px;
    }
  
    &__map{
      border: 4px solid #e6e6e6;
      width: 100%;
      iframe{
          max-width: 100%;
          width: 100%;
          max-height: 100%;
          height: 100%;
          display: block;
      }
    }
  
    &__info{
        padding-left: 40px;
        max-width: 460px;
        width: 100%;
        padding-top: 5px;
  
        &-title{
            margin-top: 15px;
            font-size: 16px;
            line-height: 1.15;
            font-weight: 500;
            margin-bottom: 5px;
        }
        &-text{
            font-size: 16px;
            line-height: 22px;
            color: #686868;
        }
        &-email{
            margin-bottom: 15px;
        }
        &-link{
            padding-left: 25px;
            font-size: 18px;
            line-height: 20px;
            font-weight: 600;
            position: relative;
            &::before{
                content: "\f095";
                font-family: 'icomoon' !important;
                font-size: 16px;
                position: absolute;
                left: 0;
                color: $red;
            }
        }
        &-shedule{
            padding-left: 25px;
            position: relative;
            .contact-page__info-title::before{
                content: '';
                position: absolute;
                width: 16px;
                height: 16px;
                left: 0;
                color: $red;
                background-image: url(../images/icons/clock.svg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }  

    &__footer{
        margin-top: 27px;
        border-top: 1px solid $dark-gray;
        padding: 17px 0 25px;
        &-link{
            padding-left: 14px;
            font-size: 18px;
            line-height: 20px;
            &::before{
                content: '';
            }
        }
    }

    &__icon{
        vertical-align: bottom;
        & + &{
            margin-left: 6px;
        }
    }

    &__footer-text{
        margin-top: 15px;
        font-size: 18px;
        line-height: 24px;
    }
  
    //form
    &__form{
        max-width: 513px;
        padding-bottom: 70px;
        .contact-page__title{
            margin-bottom: 10px;
        }
        margin: 0 auto;
        text-align: center;
        .form{
            margin: 0 auto;
        }
    }

    &__subtitle{
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 25px;
    }
}
// end contact page

// start company page
.company-page{
    padding-bottom: 30px;
}

.company-page__top{
    display: flex;
    padding-bottom: 57px;
    border-bottom: 1px solid $dark-gray;
    margin-top: 15px;
    margin-bottom: 45px;
}

.company-page__logo{
    max-width: 385px;
    width: 100%;
    min-width: 385px;
    margin-right: 20px;
}

.company-page__title.title{
    margin-top: 30px;
    margin-bottom: 25px;
}

.company-page__text{
    p{
        margin: 0;
        padding: 0;
        font-weight: 300;
        & + p{
            margin-top: 10px;
        }
    }
}

.company-page__team-title{
    font-size: 28px;
    line-height: 1.15;
    font-weight: 600;
    margin-bottom: 30px;
}

.staff-card{
    display: flex;
    width: 100%;
    margin-bottom: 80px;
    &__content{
        margin-left: 45px;
        padding-top: 30px;
        padding-bottom: 140px;
        max-width: 605px;
        height: 100%;
        position: relative;
    }
    &__footer{
        position: absolute;
        bottom: 0;
    }
    &__name{
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
        margin-bottom: 7px;
    }
    &__position{
        font-size: 20px;
        margin-bottom: 25px;
    }
    &__text{
        font-size: 18px;
        line-height: 24px;
    }
    &__info{
        font-size: 18px;
        line-height: 20px;
        font-weight: 600;
        margin-bottom: 30px;
        a,
        span{
            padding-left: 25px;
            position: relative;
            &::before{
                font-family: 'icomoon' !important;
                position: absolute;
                left: 0;
                color: $red;
                font-size: 16px;
            }
        }
        a{
            display: block;
            margin-bottom: 10px;
            &::before{
                content: "\f095";
            }
        }
        span{
            &::before{
                content: "\f0e0";
            }
        }
    }
    &__btn{
        background-color: $red;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: #fff;
        padding: 17px 45px;
    }
}

.company-page__inner{
    display: flex;
    flex-wrap: wrap;
    .staff-card__photo{
        margin-top: 25px;
        min-width: 260px;
        min-height: 260px;
        height: 260px;
        img{
            border-bottom-left-radius: 130px; // half width
            border-bottom-right-radius: 130px; // half width  
        }
    }
    .staff-card{
        width: 49%;
        &__content{
            margin-left: 20px;
            padding-top: 25px;
            padding-bottom: 130px;
            max-width: none;
        }
        &__name{
            margin-bottom: 5px;
        }
        &__position{
            font-size: 18px;
            margin-bottom: 18px;
        }
        &__text{
            font-size: 16px;
            line-height: 22px;
        }
        &__info{
            font-size: 17px;
            margin-bottom: 15px;
        }
        &__btn{
            background-color: $red;
            font-size: 12px;
            line-height: 20px;
            font-weight: 600;
            color: #fff;
            padding: 12px 25px;
        }
    }
}
// end company page

// start product-page
.product-page{
    margin-top: 20px;
    margin-bottom: 50px;

    &__inner{
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        border-bottom: 1px solid $dark-gray;
    }

    &__slider-box{
        width: 49%;
    }

    &__slider{
        padding: 15px;
        border: 1px solid $dark-gray;
        margin-bottom: 30px;
        position: relative;

        .product__label{
            top: 15px;
            right: 15px;
            z-index: 1;
        }
    }

    &__advantages{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        span{
            padding-left: 32px;
            font-size: 15px;
            line-height: 16px;
            position: relative;
            & + span{
                margin-left: 10px;
            }
            &::before{
                content: '';
                position: absolute;
                top: 2px;
                left: 0;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }

    &__content{
        padding-top: 15px;
        max-width: 49%;
    }

    &__art{
        font-size: 15px;
        color: #686868;
        margin-bottom: 10px;
    }

    &__title.title{
        margin-bottom: 15px;
    }

    &__text-box{
        margin-bottom: 10px;
        span,
        a{
            color: $red;
            cursor: pointer;
            display: none;
            &.open-more--on{
                display: inline;
            }
        }
    }

    &__text{
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
        color: $text;
        display: inline;
    }

    &__subtitle{
        font-size: 22px;
        line-height: 24px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__description{
        margin-bottom: 30px;
        dl{
            margin: 0;
            padding: 0;
            margin-bottom: 5px;

            display: flex;
            justify-content: space-between;
        }
        dt{
            width: 100%;
            overflow: hidden;
        }
        span{
            display: inline-block;
            font-size: 15px;
            line-height: 1.15;
            color: #686868;
            position: relative;
            &::before{
                content: ' ..........................................................................................................................................................................................';
                left: 100%;
                color: #686868;
                position: absolute;
                top: 0;
            }
        }
        dd{
            margin-inline-start: 0;
            font-size: 15px;
            font-weight: 500;
        }
    }

    &__cost-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 35px;
    }

    &__cost{
        font-size: 38px;
        line-height: 1.15;
        color: $red;
        font-weight: 600;
        span{
            font-size: 22px;
            font-weight: 400;
            line-height: 24px;
            color: $text;
            margin-right: 10px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                width: 100%;
                height: 2px;
                background-color: #a5a5a5;
            }
        }
    }

    &__btn{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a{
            text-align: left;
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            letter-spacing: 1.5px;
            position: relative;
            margin-bottom: 25px;
        }
    }

    &__btn-shop{
        padding: 17px 20px 17px 60px;
        max-width: 290px;
        width: 100%;
        background-color: $red;
        color: #fff;
        &::before{
            content: "\f07a";
            font-family: 'icomoon' !important;
            color: #fff;
            position: absolute;
            left: 20px;
            font-size: 20px;
        }
    }

    &__btn-serv{
        border: 1px solid $red;
        padding: 17px 40px 17px 85px;
        max-width: 280px;
        width: 100%;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 45px;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
            background-image: url(../images/icons/headphones.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        } 
    }
}

.product-page__timer{
    display: none;
    align-items: center;
    height: 48px;
    &--on{
        display: flex;
    }
    &--long{
        .product-page__timer{
            &-days{
                display: inline-block;
            }
            &-hours{
                display: none;
            }
            &-minutes{
                display: none;
            }
            &-seconds{
                display: none;
            }
        }
    }
    &-text{
        font-size: 16px;
        line-height: 1.15;
        font-weight: 500;
    }
    &-indicator{
        display: inline-block;
        margin-left: 15px;
        border-radius: 2px;
        width: 48px;
        background-color: $gray;
        color: $text;
        line-height: 48px;
        font-weight: 500;
        text-align: center;
        position: relative;
        &::before{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -18px;
            font-size: 14px;
            line-height: 1.15;
            color: #686868;
        }
    }
    &-days{
        display: none;
        &::before{
            content: 'дн';
        }
    }
    &-hours{
        &::before{
            content: 'ч';
        }
    }
    &-minutes{
        &::before{
            content: 'мин';
        }
    }
    &-seconds{
        &::before{
            content: 'сек';
        }        
    }
}

.advantages__icon{
    &-garantee{
        width: 100px;
        &::before{
            background-image: url(../images/icons/garantee.svg);
            width: 24px;
            height: 28px;
        }
    }
    &-power{
        width: 130px;
        &::before{
            background-image: url(../images/icons/power.svg);
            width: 27px;
            height: 19px;
        }
    }
    &-protect{
        width: 130px;
        &::before{
            background-image: url(../images/icons/protect.svg);
            width: 24px;
            height: 25px;
        }
    }
    &-design{
        width: 170px;
        &::before{
            background-image: url(../images/icons/design.svg);
            width: 26px;
            height: 23px;
        }
    }
}

.product-page__slider-main{
    height: 100%;
    margin-bottom: 25px;
}

.slider-main__item{
    min-height: 410px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-page__slider-mini{

    .slick-slide.slick-current.slick-active{
        .slider-main__mini-item{
            border: 1px solid $red;
        }
    }
}

.slider-main__mini-item{
    max-width: 105px;
    min-height: 65px;
    border: 1px solid transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: none;
    transition: border .5s;
}

.proposed{
    padding: 45px 0;

    &__title{
        font-size: 28px;
        font-weight: 600;
        line-height: 1.15;
        margin-bottom: 22px;
    }

    &__inner{
        display: flex;
        justify-content: space-between;
    }
}
// end product-page

// start add page
.add-page{
    padding-top: 0;
    padding-bottom: 90px;

    .product-page__art{
        margin-bottom: 0;
    }

    &__title-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    }

    &__section-title{
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 28px;
    }

    &__subtitle{
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 22px;
    }

    &__text{
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
    }

    &__btn-box{
        margin-top: 45px;
        text-align: center;
    }

    &__section{
        padding: 50px 0;
        border-bottom: 1px solid $dark-gray;

        &-title{

        }

        p{
        margin: 0;
        padding: 0;
            & + p{
                margin-top: 10px;
            }
        }

        & .add-page__list li{
            font-size: 18px;
            line-height: 1.15;
            padding-left: 17px;
            font-weight: 300;

            & + li{
                margin-top: 15px;
            }

            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 7px;
                left: 0;
                width: 6px;
                height: 6px;
                background-color: $red;
            }
        }
    }

    &__opportunity{
        & li{
        display: flex;
        }

        & li + li{
        margin-top: 30px;
        }

        & svg{
        display: inline-block;
        height: 50px;
        min-width: 44px;
        width: 44px;
        margin-right: 15px;
            & img{
                //display: block;
                //width: 100%;
                //height: auto;
            }
        }
    }

    &__slider-top{
        margin: 0 -10px 27px;
    }
    &__slider-mini{
        margin: 0 -10px;
    }

    .slider-top__item,
    .slider-mini__item{
        padding: 0 10px;
        &-img{
            width: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .slider-top__item{
        width: 585px;
        &-img{
            max-width: 585px;
            min-height: 355px;
        }
    }

    .slider-mini__item{
        width: 215px;
        &-img{
            max-width: 215px;
            min-height: 130px;
        }
    }

    .slick-arrow{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        cursor: pointer;

        width: 46px;
        height: 46px;
        border: none;
        outline: none;
        border-radius: 50%;
        transition: background-color .4s;
        background-color: rgba(0, 0, 0, .2);
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 8px;
            height: 14px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &:hover{
            background-color: $red;
        }
    }
    .slick-prev{
        left: 25px;
        &::before{
            background-image: url(../images/icons/arrow.svg);
            transform: translate(-50%, -50%) rotate(180deg);
        }
    }
    .slick-next{
        right: 25px;
        &::before{
            background-image: url(../images/icons/arrow.svg);
        }
    }
      
}
// end add page




















































@import "media";